<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxG4GF1d7nhRG-fMoWv7Bm6_fQsr8RBNk</string>
	<key>GCM_SENDER_ID</key>
	<string>254232052405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.igm</string>
	<key>PROJECT_ID</key>
	<string>igm-mmgsll</string>
	<key>STORAGE_BUCKET</key>
	<string>igm-mmgsll.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254232052405:ios:2e7b76d55190f0484d74fc</string>
	<key>DATABASE_URL</key>
	<string>https://igm-mmgsll-default-rtdb.firebaseio.com</string>
</dict>
</plist>